<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Bandera</th>
      </tr>
    </thead>
    <tbody *ngFor="let bandera of misPaises| async ">
      <tr>
        <td>{{bandera.name.common}}</td>
        <td><img src={{bandera.flags.png}} alt=""></td>
        <td><button type="button" class="btn btn-info btn-circle" (click)="this.enviarPais(bandera.name.common,bandera.flags.png)"><i class="fa fa-check"></i>
          Elegir
        </button></td>
      </tr>
    </tbody>
  </table>
</div>
