<div class="container" *ngIf="this.serviceLogin.usuario == null">
  <form [formGroup]="form" class="d-flex flex-column justify-content-center">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" formControlName="email" class="form-control" id="email" aria-describedby="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" formControlName="password" class="form-control" id="password">
    </div>
    <div>
      <button type="submit" class="btn btn-primary m-2" (click)="aceptar()">Enviar</button>
      <button type="submit" class="btn btn-primary" (click)="inicioRapido()">Inicio Rapido</button>
    </div>
  </form>
</div>