<div class="containner d-flex flex-column">
    <div>
        <app-tabla-pelicula [item]="this.serviceProductos.Producto" (productoSeleccionado)="tomarProducto($event)">
        </app-tabla-pelicula>
    </div>

    <div class="d-flex flex-row justify-content-between">
        <app-detalle-pelicula [item]="this.productoSeleccionado"></app-detalle-pelicula>
        <div *ngIf="this.productoSeleccionado != null">
            <app-tabla-pais-unico [pais]="this.productoSeleccionado.pais"></app-tabla-pais-unico>
        </div>
    </div>
</div>