<div class="principal">
  <nav class="navbar navbar-expand-lg navbar-light bg-light m-2">
    <ul class="nav d-flex justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['busquedaProducto']" aria-current="page" href="#">Busqueda</a>
      </li>
      <div *ngIf="this.serviceLogin.usuario != undefined">
        <li class="nav-item" *ngIf="this.serviceLogin.usuario.tipo == 'admin'">
          <a class="nav-link" [routerLink]="['producto/alta']" href="#">Producto</a>
        </li>
      </div>
      <li *ngIf="this.serviceLogin.usuario != undefined">
        <a class="nav-link" [routerLink]="['container']" href="#">Container</a>
      </li>
      <li *ngIf="this.serviceLogin.usuario == undefined">
        <button class="btn btn-primary" [routerLink]="['login']">Login</button>
      </li>
      <li *ngIf="this.serviceLogin.usuario != undefined">
        <button class="btn btn-primary" (click)="this.serviceLogin.desloguear()">Desloguear</button>
      </li>
    </ul>
  </nav>
</div>