<div class="container d-flex row">

  <h1>Alta Producto</h1>
  
  <div class="d-flex justify-content-center">
  <div class="p-2 flex-grow-1">
    <app-form-alta [pais]="this.paisSeleccionado" (actorNuevo)="tomarnuevoActor($event)"></app-form-alta>
  </div>

  <div class="p-2 bd-highlight">
    <app-tabla-paises (PeliSeleccionado)="this.tomarPaisSeleccionado($event)"></app-tabla-paises>
  </div>
  </div>

  <div>
    <app-actor-listado [item]="this.serviceProducto.Producto"></app-actor-listado>
  </div>

  
</div>


